services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: drupal
      POSTGRES_USER: drupal
      POSTGRES_PASSWORD: drupalpass
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - drupal

  drupal:
    image: drupal:10-apache
    container_name: drupal
    ports:
      - "8080:80"
    depends_on:
      - postgres
    networks:
      - drupal

volumes:
  pg_data:

networks:
  drupal:
    driver: bridge
